# Tennis pre-match prediction

## Test with a first dataset generate by a postegresql database and 3 tennis statistiques sources

In [194]:
# To support both python 2 and python 3
from __future__ import division, print_function, unicode_literals

# Common imports
import numpy as np
import pandas as pd
import os

# to make this notebook's output stable across runs
np.random.seed(42)

# To plot pretty figures
%matplotlib inline
import matplotlib
import matplotlib.pyplot as plt
plt.rcParams['axes.labelsize'] = 14
plt.rcParams['xtick.labelsize'] = 12
plt.rcParams['ytick.labelsize'] = 12

# Where to save the figures
PROJECT_ROOT_DIR = "."

def save_fig(fig_id, tight_layout=True):
    path = os.path.join(PROJECT_ROOT_DIR, "images", fig_id + ".png")
    print("Saving figure", fig_id)
    if tight_layout:
        plt.tight_layout()
    plt.savefig(path, format='png', dpi=300)

### get data

##### CSV version

In [195]:
PATH = "dataset"
NAME = "dataset_train_final.csv"
PRED = "dataset_pred_final.csv"

def load_dataset_csv(path=PATH, name=NAME):
    csv_path = os.path.join(path, name)
    return pd.read_csv(csv_path)

def load_predictset_csv(path=PATH, name=PRED):
    csv_path = os.path.join(path, name)
    return pd.read_csv(csv_path)

##### SQL version

In [196]:
from sqlalchemy import create_engine
import psycopg2 as pg
import requests as req

URL = 'postgresql://dataset:dataset1747@35.204.62.91:5432/dataset-dump1'
engine = create_engine(URL)

def load_dataset_sql():
    URL = "https://raw.githubusercontent.com/panaC/tennis-dataset/master/app/dataset/extract_dataset.sql"
    with engine.connect() as conn, conn.begin():
        return pd.read_sql(req.get(URL).text, conn)

def load_predictset_sql():
    URL = "https://raw.githubusercontent.com/panaC/tennis-dataset/master/app/dataset/extract_predset.sql"
    with engine.connect() as conn, conn.begin():
        return pd.read_sql(req.get(URL).text, conn)

In [197]:
dataset = load_dataset_sql()
dataset.head()

,id,url_match_flash,url_match_atp,url_tour,name_tour_flash,name_tour_atp,name_tour_csv,round_flash,round_csv,qualif,...,return_rating_20years,first_serve_return_point_won_20years,bp_converted_20years,return_games_played_20years,service_point_won_20years,return_point_won_20years,total_point_won_20years,winner_loser_match_win,h2h,minutes_loser_winner
0,30648,https://www.flashscore.com/match/zFScDpJb,/en/scores/archive/madrid/1536/2016/results,https://www.flashscore.com/tennis/atp-singles/...,Madrid,ATP World Tour Masters 1000 Madrid,Madrid,1/32-finals\n,R64,False,...,1.631293,2.059026,-2.284791,-0.099016,-5.118173,1.148676,-1.866266,0.0,1.0,-0.051257
1,42244,https://www.flashscore.com/match/jcZcIiNh,/en/scores/archive/rome/416/2016/results,https://www.flashscore.com/tennis/atp-singles/...,Rome,ATP World Tour Masters 1000 Rome,Rome,1/32-finals\n,R64,False,...,-27.924819,-4.775000,-13.214855,-0.978261,-15.291486,-4.848007,-8.636051,0.0,1.0,0.487892
2,40048,https://www.flashscore.com/match/G00yITY5,/en/scores/archive/nottingham/741/2016/results,https://www.flashscore.com/tennis/atp-singles/...,Nottingham,Nottingham,Nottingham,1/16-finals\n,R32,False,...,-12.771137,-2.217613,-4.413200,-0.862751,-2.844315,-2.289802,-2.225344,0.0,1.0,-0.000953
3,40071,https://www.flashscore.com/match/MPsuaWHS,/en/scores/archive/nottingham/741/2016/results,https://www.flashscore.com/tennis/atp-singles/...,Nottingham,Nottingham,Nottingham,1/32-finals\n,R64,False,...,-20.714286,-2.142857,-17.285714,-3.000000,-1.000000,-2.571429,-1.857143,0.0,1.0,0.654459
4,905,https://www.flashscore.com/match/8xr1BrDj,/en/scores/archive/atlanta/6116/2016/results,https://www.flashscore.com/tennis/atp-singles/...,Atlanta,Atlanta,Atlanta,1/16-finals\n,R32,False,...,-11.217407,0.002116,-1.797011,0.557619,5.830450,-2.368942,1.484709,0.0,1.0,-0.461002

In [198]:
predset = load_predictset_sql()
predset.head()

,id,url_match_flash,url_match_atp,url_tour,name_tour_flash,name_tour_atp,name_tour_csv,round_flash,round_csv,qualif,...,return_rating_20years,first_serve_return_point_won_20years,bp_converted_20years,return_games_played_20years,service_point_won_20years,return_point_won_20years,total_point_won_20years,winner_loser_match_win,h2h,minutes_loser_winner
0,32463,https://www.flashscore.com/match/rNY1JN1J,/en/scores/archive/memphis/424/2017/results,https://www.flashscore.com/tennis/atp-singles/...,Memphis,Memphis,Memphis,1/16-finals\n,R32,False,...,6.002359,-0.957381,5.242706,-0.004762,1.178377,-0.043485,0.377143,1.0,0.0,-0.276590
1,31626,https://www.flashscore.com/match/6ooVSMmN,/en/scores/archive/marrakech/360/2017/results,https://www.flashscore.com/tennis/atp-singles/...,Marrakech,Marrakech,Marrakech,Semi-finals\n,SF,False,...,-7.844612,-1.403509,1.253968,0.340852,-0.273183,-2.252924,-1.174603,1.0,0.5,0.069335
2,31714,https://www.flashscore.com/match/pEJHSi7R,/en/scores/archive/marseille/496/2017/results,https://www.flashscore.com/tennis/atp-singles/...,Marseille,Marseille,Marseille,1/8-finals\n,R16,False,...,-20.197581,-2.246334,-9.619048,-0.412547,-10.933107,-2.142555,-6.141421,0.0,1.0,0.069351
3,31702,https://www.flashscore.com/match/hOjYk3zo,/en/scores/archive/marseille/496/2017/results,https://www.flashscore.com/tennis/atp-singles/...,Marseille,Marseille,Marseille,Final\n,F,False,...,-9.615572,-3.607057,-3.547220,0.161451,-5.439763,-1.780724,-3.190885,2.0,0.0,NaN
4,31703,https://www.flashscore.com/match/pjFsndOk,/en/scores/archive/marseille/496/2017/results,https://www.flashscore.com/tennis/atp-singles/...,Marseille,Marseille,Marseille,Semi-finals\n,SF,False,...,20.109863,4.511465,5.104797,-1.269387,3.497913,4.027860,3.203217,1.0,0.6,0.074847

In [199]:
predset.shape

(3761, 91)

In [200]:
dataset.shape

(34148, 91)

In [201]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34148 entries, 0 to 34147
Data columns (total 91 columns):
id                                      34148 non-null int64
url_match_flash                         34148 non-null object
url_match_atp                           34148 non-null object
url_tour                                34148 non-null object
name_tour_flash                         34148 non-null object
name_tour_atp                           34148 non-null object
name_tour_csv                           34148 non-null object
round_flash                             34148 non-null object
round_csv                               34148 non-null object
qualif                                  34148 non-null bool
door                                    34148 non-null object
surface                                 34148 non-null object
prize                                   34148 non-null int64
year_atp                                34148 non-null object
year_flash                              34148 non-null int64
date_flash                              34148 non-null datetime64[ns, UTC]
date_csv                                34148 non-null object
date_atp                                34148 non-null datetime64[ns, UTC]
loc_flash                               34148 non-null object
loc_atp                                 34148 non-null object
name_win_atp                            34148 non-null object
name_win_csv                            34148 non-null object
name_los_atp                            34148 non-null object
name_los_csv                            34148 non-null object
url_win_atp                             34148 non-null object
url_los_atp                             34148 non-null object
hand_win                                34148 non-null object
hand_los                                34148 non-null object
draw_size                               34148 non-null object
level_tour                              34148 non-null object
seed_win                                34148 non-null object
entry_win                               34148 non-null object
seed_los                                34148 non-null object
entry_los                               34148 non-null object
ht_win                                  34148 non-null object
ht_win                                  34148 non-null object
points_win                              34148 non-null int64
points_los                              34148 non-null int64
age_win                                 34148 non-null float64
age_los                                 34148 non-null float64
score                                   34148 non-null object
url_home                                34148 non-null object
name_home                               34148 non-null object
birthday_home                           31715 non-null datetime64[ns, UTC]
country_home                            33409 non-null object
url_away                                34148 non-null object
name_away                               34148 non-null object
birthday_away                           31184 non-null datetime64[ns, UTC]
country_away                            33392 non-null object
url_weather                             34148 non-null object
loc_weather                             34148 non-null object
temp_weather                            26611 non-null float64
press_weather                           25347 non-null float64
humid_weather                           26600 non-null float64
uncertainty_1year                       33667 non-null float64
count_match_1year                       33667 non-null float64
serve_rating_1year                      33667 non-null float64
aces_1year                              33667 non-null float64
double_faults_1year                     33667 non-null float64
first_serve_1year                       33667 non-null float64
first_serve_point_won_1year             33667 non-null float64
second_serve_point_won_1year            33667 non-null float64
bp_saved_1year                          33667 non-null float64
service_game_played_1year               33667 non-null float64
return_rating_1year                     33667 non-null float64
first_serve_return_point_won_1year      33667 non-null float64
bp_converted_1year                      33667 non-null float64
return_games_played_1year               33667 non-null float64
service_point_won_1year                 33667 non-null float64
return_point_won_1year                  33667 non-null float64
total_point_won_1year                   33667 non-null float64
uncertainty_20years                     33865 non-null float64
count_match_20years                     33865 non-null float64
serve_rating_20years                    33865 non-null float64
aces_20years                            33865 non-null float64
double_faults_20years                   33865 non-null float64
first_serve_20years                     33865 non-null float64
first_serve_point_won_20years           33865 non-null float64
second_serve_point_won_20years          33865 non-null float64
bp_saved_20years                        33865 non-null float64
service_game_played_20years             33865 non-null float64
return_rating_20years                   33865 non-null float64
first_serve_return_point_won_20years    33865 non-null float64
bp_converted_20years                    33865 non-null float64
return_games_played_20years             33865 non-null float64
service_point_won_20years               33865 non-null float64
return_point_won_20years                33865 non-null float64
total_point_won_20years                 33865 non-null float64
winner_loser_match_win                  34148 non-null float64
h2h                                     34148 non-null float64
minutes_loser_winner                    30297 non-null float64
dtypes: bool(1), datetime64[ns, UTC](4), float64(42), int64(5), object(39)
memory usage: 23.5+ MB

In [202]:
# to make this notebook's output identical at every run
np.random.seed(42)

### split the training set and the test set into 2 batchs with the hash id

In [203]:
import hashlib

def test_set_check(identifier, test_ratio, hash=hashlib.md5):
    return bytearray(hash(np.int64(identifier)).digest())[-1] < 256 * test_ratio

def split_train_test_by_id(data, test_ratio, id_column):
    ids = data[id_column]
    in_test_set = ids.apply(lambda id_: test_set_check(id_, test_ratio))
    return data.loc[~in_test_set], data.loc[in_test_set]

In [204]:
train_set, test_set = split_train_test_by_id(dataset, 0.2, "id")

In [205]:
print(train_set.shape)
train_set.head()

(27148, 91)

,id,url_match_flash,url_match_atp,url_tour,name_tour_flash,name_tour_atp,name_tour_csv,round_flash,round_csv,qualif,...,return_rating_20years,first_serve_return_point_won_20years,bp_converted_20years,return_games_played_20years,service_point_won_20years,return_point_won_20years,total_point_won_20years,winner_loser_match_win,h2h,minutes_loser_winner
0,30648,https://www.flashscore.com/match/zFScDpJb,/en/scores/archive/madrid/1536/2016/results,https://www.flashscore.com/tennis/atp-singles/...,Madrid,ATP World Tour Masters 1000 Madrid,Madrid,1/32-finals\n,R64,False,...,1.631293,2.059026,-2.284791,-0.099016,-5.118173,1.148676,-1.866266,0.0,1.0,-0.051257
2,40048,https://www.flashscore.com/match/G00yITY5,/en/scores/archive/nottingham/741/2016/results,https://www.flashscore.com/tennis/atp-singles/...,Nottingham,Nottingham,Nottingham,1/16-finals\n,R32,False,...,-12.771137,-2.217613,-4.413200,-0.862751,-2.844315,-2.289802,-2.225344,0.0,1.0,-0.000953
3,40071,https://www.flashscore.com/match/MPsuaWHS,/en/scores/archive/nottingham/741/2016/results,https://www.flashscore.com/tennis/atp-singles/...,Nottingham,Nottingham,Nottingham,1/32-finals\n,R64,False,...,-20.714286,-2.142857,-17.285714,-3.000000,-1.000000,-2.571429,-1.857143,0.0,1.0,0.654459
4,905,https://www.flashscore.com/match/8xr1BrDj,/en/scores/archive/atlanta/6116/2016/results,https://www.flashscore.com/tennis/atp-singles/...,Atlanta,Atlanta,Atlanta,1/16-finals\n,R32,False,...,-11.217407,0.002116,-1.797011,0.557619,5.830450,-2.368942,1.484709,0.0,1.0,-0.461002
6,57660,https://www.flashscore.com/match/drhJu0R2,/en/scores/archive/winston-salem/6242/2016/res...,https://www.flashscore.com/tennis/atp-singles/...,Winston-Salem,Winston-Salem,Winston-Salem,1/16-finals\n,R32,False,...,-24.155651,-3.991762,-6.441762,0.786303,-0.790709,-4.116092,-2.654502,2.0,0.2,0.270004

In [206]:
print(test_set.shape)
test_set.head()

(7000, 91)

,id,url_match_flash,url_match_atp,url_tour,name_tour_flash,name_tour_atp,name_tour_csv,round_flash,round_csv,qualif,...,return_rating_20years,first_serve_return_point_won_20years,bp_converted_20years,return_games_played_20years,service_point_won_20years,return_point_won_20years,total_point_won_20years,winner_loser_match_win,h2h,minutes_loser_winner
1,42244,https://www.flashscore.com/match/jcZcIiNh,/en/scores/archive/rome/416/2016/results,https://www.flashscore.com/tennis/atp-singles/...,Rome,ATP World Tour Masters 1000 Rome,Rome,1/32-finals\n,R64,False,...,-27.924819,-4.775000,-13.214855,-0.978261,-15.291486,-4.848007,-8.636051,0.0,1.000000,0.487892
5,11572,https://www.flashscore.com/match/tjWesBmN,/en/scores/archive/cincinnati/422/2016/results,https://www.flashscore.com/tennis/atp-singles/...,Cincinnati,ATP World Tour Masters 1000 Cincinnati,Cincinnati,Semi-finals\n,SF,False,...,-41.138750,-7.388578,-5.345927,0.495614,6.118737,-8.897202,-1.424943,3.0,0.454545,-0.064994
15,16168,https://www.flashscore.com/match/SCeQru63,/en/scores/archive/doha/451/2008/results,https://www.flashscore.com/tennis/atp-singles/...,Doha,Doha,Doha,Semi-finals\n,SF,False,...,-17.518324,-3.023477,-3.507222,-0.570255,-2.045622,-3.413699,-2.469572,3.0,0.250000,0.316686
20,6713,https://www.flashscore.com/match/SfK5pURK,/en/scores/archive/bastad/316/2013/results,https://www.flashscore.com/tennis/atp-singles/...,Bastad,Bastad,Bastad,1/16-finals\n,R32,False,...,40.425170,7.717347,6.785374,-1.143197,-2.169388,8.471769,2.895238,0.0,1.000000,NaN
21,15056,https://www.flashscore.com/match/vg2Z57xB,/en/scores/archive/delray-beach/499/2015/results,https://www.flashscore.com/tennis/atp-singles/...,Delray Beach,Delray Beach,Delray Beach,Quarter-finals\n,QF,False,...,8.973000,2.178111,-1.823889,-1.868222,-6.641889,3.478333,-2.047778,0.0,1.000000,0.338504

In [207]:
dataset = train_set.copy()

In [208]:
dataset["draw_size"] = dataset["draw_size"].apply(lambda x: str(x))
dataset["draw_size"] = dataset["draw_size"].astype("object")
index_draw_size = list(dataset["draw_size"].value_counts().index)
dataset["draw_size"].value_counts()

32     9754
128    4758
28     3155
56     3120
48     2549
96     1990
64     1737
8        74
16       11
Name: draw_size, dtype: int64

In [209]:
index_level_tour = list(dataset["level_tour"].value_counts().index)
dataset["level_tour"].value_counts()

A    16240
M     6233
G     4590
F       85
Name: level_tour, dtype: int64

In [210]:
index_surface = list(dataset["surface"].value_counts().index)
dataset["surface"].value_counts()

Hard      15239
Clay       8119
Grass      3231
Carpet      559
Name: surface, dtype: int64

In [211]:
index_door = list(dataset["door"].value_counts().index)
dataset["door"].value_counts()

Outdoor    22498
Indoor      4650
Name: door, dtype: int64

In [212]:
index_round_csv = list(dataset["round_csv"].value_counts().index)
dataset["round_csv"].value_counts()

R32     9529
R16     5100
R64     4937
R128    3039
QF      2552
SF      1293
F        627
RR        71
Name: round_csv, dtype: int64

In [213]:
dataset["year_atp"].value_counts()

2016    1906
2009    1826
2014    1798
2010    1792
2006    1785
2011    1774
2005    1764
2013    1745
2012    1727
2004    1727
2008    1719
2007    1705
2003    1658
2001    1590
2002    1572
2015    1060
Name: year_atp, dtype: int64

### add column result that will be the y axis on the dataset for the prediction

In [214]:
dataset.shape

(27148, 91)

In [215]:
dataset.insert(dataset.shape[1], "result", np.random.randint(2, size=dataset.shape[0]))

In [216]:
dataset["result"].value_counts()

1    13585
0    13563
Name: result, dtype: int64

In [217]:
test_set.insert(test_set.shape[1], "result", np.random.randint(2, size=test_set.shape[0]))

In [218]:
test_set["result"].value_counts()

1    3535
0    3465
Name: result, dtype: int64

### transformer

In [219]:
from sklearn.base import BaseEstimator, TransformerMixin

# A class to select numerical or categorical columns 
# since Scikit-Learn doesn't handle DataFrames yet
class DataFrameSelector(BaseEstimator, TransformerMixin):
    def __init__(self, attribute_names):
        self.attribute_names = attribute_names
    def fit(self, X, y=None):
        return self
    def transform(self, X):
        return X[self.attribute_names]

In [220]:
class reverseStats(BaseEstimator, TransformerMixin):
       
    def fit(self, X, y=None):
        return self
    def transform(self, X, y=None):
        ## while on each row : if result = 1 nothing else opponent each value in each collumn
        def wh(a):
            if (a["result"] == 0):
                a = a.apply(lambda x: x * -1)
            return a
        
        X = X.fillna(0)
        X = X.apply(wh, axis=1)
        X = X.drop("result", axis=1)
        return X

In [221]:
stats_col = ["serve_rating_1year", "aces_1year", "double_faults_1year", "first_serve_1year", "first_serve_point_won_1year",
       "second_serve_point_won_1year", "bp_saved_1year", "service_game_played_1year", "return_rating_1year",
       "first_serve_return_point_won_1year", "bp_converted_1year", "return_games_played_1year", "service_point_won_1year",
       "return_point_won_1year", "total_point_won_1year", "serve_rating_20years",
       "aces_20years", "double_faults_20years", "first_serve_20years", "first_serve_point_won_20years", "second_serve_point_won_20years",
       "bp_saved_20years", "service_game_played_20years", "return_rating_20years", "first_serve_return_point_won_20years",
       "bp_converted_20years", "return_games_played_20years", "service_point_won_20years", "return_point_won_20years",
       "total_point_won_20years", "h2h", "minutes_loser_winner", "result"]
len(stats_col)

33

In [222]:
from sklearn.pipeline import Pipeline

stats_pipeline = Pipeline([
        ("select_stats", DataFrameSelector(stats_col)),
        ("reverse", reverseStats()),
    ])

stats_pipeline.fit_transform(dataset).shape

(27148, 32)

In [223]:
stats_pipeline.fit_transform(dataset)

,serve_rating_1year,aces_1year,double_faults_1year,first_serve_1year,first_serve_point_won_1year,second_serve_point_won_1year,bp_saved_1year,service_game_played_1year,return_rating_1year,first_serve_return_point_won_1year,...,service_game_played_20years,return_rating_20years,first_serve_return_point_won_20years,bp_converted_20years,return_games_played_20years,service_point_won_20years,return_point_won_20years,total_point_won_20years,h2h,minutes_loser_winner
0,22.680874,-1.353279,-0.859836,8.912022,-0.228962,4.176776,-0.974317,0.684973,-6.111202,-2.769672,...,0.037864,-1.631293,-2.059026,2.284791,0.099016,5.118173,-1.148676,1.866266,-1.000000,0.051257
2,-6.668889,-1.328148,0.091852,-2.805926,-0.319630,-1.348519,-1.214815,-1.078889,-6.271481,-1.893704,...,-0.891805,-12.771137,-2.217613,-4.413200,-0.862751,-2.844315,-2.289802,-2.225344,1.000000,-0.000953
3,15.666667,1.666667,2.666667,-0.000000,4.333333,0.333333,14.666667,4.666667,33.000000,6.333333,...,3.142857,20.714286,2.142857,17.285714,3.000000,1.000000,2.571429,1.857143,-1.000000,-0.654459
4,-17.928571,-5.785714,-0.428571,3.142857,-8.142857,7.500000,-4.071429,-2.071429,13.285714,2.428571,...,-0.760106,11.217407,-0.002116,1.797011,-0.557619,-5.830450,2.368942,-1.484709,-1.000000,0.461002
6,12.351282,-5.203846,-0.489744,7.125321,-1.542949,6.682372,8.243269,-0.016987,16.787179,2.906731,...,-0.334195,24.155651,3.991762,6.441762,-0.786303,0.790709,4.116092,2.654502,-0.200000,-0.270004
7,-18.353409,-4.653409,-0.875758,2.303788,-7.685985,0.936742,2.662879,-1.681818,6.138258,1.996591,...,-1.380606,8.924113,2.322814,-1.377749,-1.212381,-2.773853,2.779481,-0.078052,1.000000,-0.012852
8,70.226190,7.142857,-1.130952,5.142857,23.380952,13.190476,13.833333,1.797619,68.202381,11.892857,...,0.658095,42.002381,7.269762,14.875952,0.642381,11.011429,6.719048,8.235476,-1.000000,-0.988188
9,12.619211,0.216533,0.910997,5.292173,1.937366,2.542619,3.370908,-0.091845,15.568988,4.435193,...,0.268349,14.370963,3.861322,0.921584,0.439661,3.069863,3.633980,2.877679,-0.000000,0.276389
10,-28.925223,-4.390253,2.524330,0.473437,-8.280506,-3.186012,-7.716369,-1.606324,5.387798,6.242336,...,-2.017434,2.654034,3.187368,-3.777288,-2.050648,-6.983664,1.720767,-2.407857,-0.000000,0.833793
11,-2.760000,1.307415,-0.039048,-1.938231,-1.163401,-2.767347,1.696871,0.855238,-24.072517,-2.518912,...,0.695082,-17.435662,-1.833359,-5.655868,0.719789,-1.955712,-2.947333,-2.154163,0.000000,0.866020
12,3.183059,-6.966392,-2.358852,8.609417,-3.659661,8.769414,-7.880327,-1.177961,60.143971,10.854823,...,-1.181322,59.924116,12.098007,12.726353,-1.500216,0.895951,12.855204,6.047258,-1.000000,-0.826643
13,-15.372953,0.937427,-0.627339,-4.621053,-3.463158,-3.182164,-5.368567,1.063596,-30.667690,-6.365789,...,1.308291,-25.285201,-6.110167,-6.432567,1.131968,-1.232124,-4.869222,-2.768531,0.500000,0.524411
14,0.458225,-0.296050,0.237635,-3.945671,2.145996,2.669318,-1.399729,-0.385119,30.328084,5.997321,...,-0.599471,27.540083,5.663394,5.387453,-0.629917,1.070907,5.971693,2.989335,-0.333333,-0.340478
16,48.040292,0.343161,-2.199782,8.098888,8.354838,8.379346,1.881370,-0.666527,43.985568,7.936815,...,-0.357638,42.849211,7.384862,10.514026,-0.264745,10.867629,7.906587,8.417840,-1.000000,-0.440061
17,-8.989354,-1.820860,-0.403192,-0.158523,-2.315164,-0.375871,-0.249014,-0.573862,-1.164510,0.871784,...,-0.053983,-5.769948,0.070507,-2.054217,0.250268,-1.848756,-0.579861,-1.283191,0.142857,-0.108866
18,-18.981481,5.064815,0.981481,-3.296296,0.027778,-14.629630,-12.518519,0.953704,-14.055556,-9.685185,...,1.346667,-7.763333,-8.060000,16.538333,1.470000,-4.775000,-7.723333,-5.661667,-1.000000,0.901450
19,-41.194203,-4.696377,-1.065217,-6.203623,-9.830435,-2.342754,-16.426812,-1.119565,-1.856522,-1.342754,...,-1.119565,-1.856522,-1.342754,0.431884,-1.018841,-9.797101,-0.043478,-4.345652,1.000000,0.917861
22,-7.166667,-0.273810,0.059524,0.936508,-1.757937,-5.333333,6.837302,-3.035714,-43.638889,-7.261905,...,-1.698718,-22.342735,-4.038034,-7.508547,-1.421795,-2.129915,-5.091453,-3.359402,0.000000,0.145420
23,-11.643411,-0.515504,0.957364,0.290698,-1.531008,-3.980620,-6.360465,0.344961,-7.930233,-1.930233,...,0.344961,-7.930233,-1.930233,-1.589147,0.472868,-3.003876,-2.310078,-2.193798,0.333333,-0.135211
24,-17.962963,0.169753,-0.922840,-7.986111,-2.825617,-2.270062,6.654321,-0.507716,-10.188272,-0.179012,...,-0.507716,-10.188272,-0.179012,-6.567901,-0.632716,-3.925926,-0.391975,-1.966049,-1.000000,0.186507
25,-5.536765,-1.281863,1.568627,0.377451,-2.544118,1.301471,2.990196,-0.291667,5.004902,6.514706,...,-0.291667,5.004902,6.514706,-2.110294,-0.323529,-1.372549,2.769608,0.627451,1.000000,-0.094218
26,-1.942308,3.147436,0.262821,3.839744,1.570513,-8.096154,-20.608974,0.358974,-38.435897,-7.243590,...,0.358974,-38.435897,-7.243590,-3.128205,0.480769,-0.250000,-9.634615,-4.897436,-1.000000,0.886092
27,-17.757687,-3.441624,0.347050,-0.428061,-3.258813,-0.933733,-4.512689,-1.165750,-4.230334,-0.693537,...,-1.165750,-4.230334,-0.693537,-4.606158,-1.253664,-3.394140,-0.009770,-1.534911,-0.333333,-0.001228
28,-59.000000,-6.941176,0.029412,-1.264706,-12.000000,-9.235294,-5.411765,-0.970588,-3.852941,0.823529,...,-0.970588,-3.852941,0.823529,-5.735294,-1.117647,-13.176471,0.352941,-5.941176,0.000000,0.425738
29,66.250000,3.250000,-7.250000,5.750000,23.500000,-7.750000,-38.250000,-7.000000,-46.000000,0.250000,...,-7.000000,-46.000000,0.250000,-22.500000,-8.000000,19.000000,-4.750000,5.500000,1.000000,-0.796990
30,-21.912863,-0.929704,0.114954,4.408653,-5.380052,-8.326539,-3.036150,-1.622880,-30.937979,-4.218786,...,-1.622880,-30.937979,-4.218786,-10.944048,-1.366725,-5.497648,-5.081707,-5.383595,1.000000,0.710295
31,-17.857143,-0.571429,-1.357143,-4.071429,0.214286,-0.785714,-16.214286,0.285714,31.357143,7.285714,...,0.285714,31.357143,7.285714,-0.142857,0.000000,-4.428571,8.071429,1.357143,1.000000,0.920333
32,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.967373
33,13.535380,-0.739181,-2.824561,8.489766,-3.667251,3.020468,0.237719,0.438304,-11.528070,-2.181579,...,0.438304,-11.528070,-2.181579,-4.554094,0.411988,0.936550,-1.727485,-0.585088,1.000000,-0.233179
34,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34112,19.490643,1.328363,-0.362865,-1.978947,5.754971,1.038889,-4.066082,0.152924,13.700000,-0.122222,...,0.354167,15.980882,0.601961,9.165196,0.368627,3.966912,1.522794,2.501471,1.000000,0.000000
34113,-8.917708,-1.684375,-0.636458,-0.900000,-3.576042,2.856250,-5.985417,2.568750,7.085417,0.193750,...,0.949371,11.403459,1.970755,5.833019,0.732390,-0.650943,1.630189,0.652201,0.333333,0.000000
34114,-29.523770,-5.727643,1.334153,3.622619,-8.289770,-0.242718,-7.529836,-0.468978,5.017827,1.105787,...,-0.917059,7.812599,1.261038,-0.280566,-0.974649,-6.352350,1.773932,-2.037261,0.333333,0.455270
34115,-27.282813,-2.324890,2.789886,-8.875360,-2.175160,-0.517317,2.905442,0.626901,14.551190,1.781212,...,0.583730,11.592345,1.918882,3.961730,0.771866,-4.823175,1.970888,-1.208108,-0.600000,-0.000000
34116,45.023611,6.227778,-1.484722,-7.474653,16.486111,4.448264,13.433333,-0.184375,26.193056,4.938194,...,0.239747,10.739969,2.270792,2.006561,0.103276,8.889290,2.454088,5.330413,-0.000000,-0.147449
34117,17.829545,-1.429924,-0.056818,5.017045,2.914773,2.784091,5.378788,-0.630682,27.994318,6.143939,...,0.241987,31.984295,5.411538,10.759615,0.345833,5.558974,6.017628,4.774038,0.333333,-0.492202
34118,-36.429762,-3.016270,-0.027778,-7.359524,-5.317857,-3.999603,-2.807540,-1.080159,-19.117460,-2.252778,...,-0.617334,-18.293965,-3.154905,-5.488134,-0.235731,-7.218753,-3.449184,-4.952832,1.000000,0.138200
34119,3.106831,-4.228223,0.270624,1.608743,-1.445853,11.275585,4.949383,0.165396,50.424018,8.854308,...,-0.837504,44.927427,7.739291,8.587003,-0.812784,-1.864497,8.712548,3.115661,-0.142857,-0.857336
34120,7.943434,2.119192,0.668939,-0.108838,3.519444,-0.752273,-2.646717,-0.239899,4.748737,2.023737,...,-0.318937,0.002912,1.549462,-3.102063,-0.163057,2.194803,0.936170,1.131746,0.333333,-0.270817
34121,39.000000,3.500000,1.500000,4.500000,2.500000,11.500000,-11.000000,-2.500000,-4.000000,3.500000,...,0.555556,-13.222222,-1.555556,3.333333,0.833333,7.888889,-5.666667,1.500000,1.000000,0.000000
34122,11.562500,0.105882,-0.462500,5.988725,-2.290441,3.325735,-2.981618,-0.444853,14.360049,2.738235,...,-0.163988,15.541391,3.165961,6.399239,-0.235968,1.033951,2.439572,1.734998,-0.600000,-0.000000
34123,14.319876,2.615528,0.181435,-1.183126,4.634886,0.755970,-4.278778,-0.465769,-0.199724,0.900621,...,-0.290306,-1.081816,0.171272,-2.687507,-0.291850,3.934419,0.635217,2.044453,-0.000000,-0.327804
34124,1.485139,1.955521,0.851936,-6.183726,4.278153,1.206724,1.456567,0.990607,7.802800,0.466353,...,0.986824,9.315395,1.329519,2.675363,1.128111,1.145925,2.033833,1.313774,-0.000000,-0.283616
34125,-17.053252,-3.658537,1.589024,6.770325,-7.794309,-3.156098,-2.624390,0.245935,-2.657317,-1.751626,...,-0.238946,-12.718699,-3.021089,-3.180534,-0.452081,-6.441720,-2.408329,-3.962368,-1.000000,0.055203
34126,-4.834565,-0.771899,-0.200055,-2.747093,-2.286489,2.390407,3.032987,0.520543,2.404001,-2.872051,...,0.361796,0.049202,-2.998521,2.318179,0.504089,-1.272786,-1.120343,-1.062686,1.000000,0.150237
34127,24.666667,0.166667,0.166667,-2.111111,5.222222,3.833333,-6.944444,1.333333,-20.666667,-2.611111,...,0.538462,-22.903846,-3.576923,-4.980769,0.480769,2.769231,-4.750000,-0.750000,-0.333333,0.730359
34129,-23.943478,-3.600564,1.186151,-7.350483,-3.306441,0.584461,-7.259420,-1.356924,11.193639,2.833333,...,-1.083469,11.818631,2.686179,2.382453,-1.005014,-2.684553,3.128388,-0.030149,1.000000,0.301961
34130,-36.780556,-5.243576,0.384375,8.224306,-13.922396,-7.107639,-4.015799,-0.518576,-14.027604,-1.814062,...,-0.271763,-9.669180,-2.183908,1.353210,0.053839,-9.404856,-2.884535,-5.607461,1.000000,0.707095
34133,-7.288982,0.455066,-0.088146,-4.683637,1.603191,-2.437867,-2.181611,0.245061,-5.361322,-0.591439,...,0.145358,-4.334556,-0.550908,0.365162,0.153291,-1.146078,-1.144960,-1.042645,-0.090909,0.116789
34136,-15.666667,-4.523810,0.353175,5.095238,-5.468254,1.924603,2.174603,0.551587,9.369048,-1.805556,...,-1.141204,-9.194537,-2.598245,-3.866989,-1.114929,-7.598430,-1.259863,-4.356239,0.333333,0.853023
34138,-10.662760,-0.723698,1.511719,-3.970313,-1.268750,-0.272917,3.866927,-0.132552,-15.766667,-1.258333,...,-0.156203,-13.920927,-0.715006,-5.207425,-0.038440,0.217732,-1.888127,-0.863972,-0.600000,0.183922
34139,17.757576,0.090909,-4.257576,2.833333,1.287879,5.893939,-6.227273,-0.606061,4.863636,-1.651515,...,0.974107,15.687245,0.466454,10.102806,0.781335,4.007143,0.734694,2.608036,1.000000,0.712187
34140,2.866667,3.163667,0.851000,-0.375333,3.054333,-3.953667,-6.377333,-0.484333,-10.507000,-1.217667,...,0.535724,0.434958,0.283374,0.114639,0.492302,1.357597,0.227441,0.631608,1.000000,0.000000
34141,15.658611,0.610278,-2.438333,4.606944,1.618889,0.805278,2.307778,-0.737778,7.865278,1.181111,...,-0.520536,9.083750,0.574792,3.948839,-0.268661,2.534792,1.441607,1.631607,1.000000,-0.278235
34142,18.895833,-0.145833,-0.656250,5.281250,2.989583,1.989583,4.333333,-0.052083,24.458333,6.093750,...,-0.329114,7.639662,1.406962,2.376582,-0.378270,0.838819,1.417511,1.033966,-0.000000,-0.521972
34143,-6.820943,5.979015,1.771441,0.574498,-1.982729,-3.448421,2.151415,0.226445,-15.656090,-6.242792,...,0.709534,-22.314864,-7.877532,1.030867,0.780622,-3.127224,-6.801938,-4.011065,0.333333,0.012581
34144,26.106589,2.637597,-0.023256,7.503876,4.001938,1.653101,-5.015504,-0.108527,46.581395,8.112403,...,0.717697,25.229329,5.778408,9.017458,0.542454,5.144467,4.628472,4.506437,-1.000000,0.116734
34145,52.684524,0.465030,-0.764881,6.930804,8.859375,8.774554,14.485119,2.885417,50.959821,10.066964,...,-0.210134,46.052692,8.709631,10.788813,-0.452274,8.832555,8.892710,8.229462,-1.000000,-0.893484
34146,20.863095,3.675595,-0.645833,-0.726190,10.077381,3.142857,-15.261905,0.788690,2.976190,0.666667,...,0.164683,11.803571,0.680556,1.793651,0.325397,4.797619,3.888889,3.496032,-1.000000,-0.888489
34147,-26.000000,-2.000000,2.000000,6.500000,-6.500000,-1.500000,65.000000,3.500000,-65.000000,-12.500000,...,-0.296296,-30.185185,-0.148148,-18.018519,-0.574074,-3.870370,-3.000000,-3.870370,0.000000,-0.580448

In [224]:
from sklearn.preprocessing import OneHotEncoder, LabelBinarizer
from sklearn.preprocessing import label_binarize

In [225]:
class CustomLabelBinarizer(BaseEstimator, TransformerMixin):
    def __init__(self, classes):
        self.classes = classes
    def fit(self, X, y=None):
        return self
    def transform(self, X, y=None):
        enc = label_binarize(X, classes=self.classes)
        return enc

In [226]:
round_pipeline = Pipeline([
        ("select_cat", DataFrameSelector(["round_csv"])),
        ("cat_encoder", CustomLabelBinarizer(index_round_csv)),
    ])

round_pipeline.fit_transform(dataset)

array([[0, 0, 1, ..., 0, 0, 0],
       [1, 0, 0, ..., 0, 0, 0],
       [0, 0, 1, ..., 0, 0, 0],
       ...,
       [0, 1, 0, ..., 0, 0, 0],
       [1, 0, 0, ..., 0, 0, 0],
       [0, 1, 0, ..., 0, 0, 0]])

In [227]:
round_pipeline.fit_transform(dataset).shape

(27148, 8)

In [228]:
surface_pipeline = Pipeline([
        ("select_cat", DataFrameSelector(["surface"])),
        ("cat_encoder", CustomLabelBinarizer(index_surface)),
    ])

surface_pipeline.fit_transform(dataset)

array([[0, 1, 0, 0],
       [0, 0, 1, 0],
       [0, 0, 1, 0],
       ...,
       [0, 1, 0, 0],
       [0, 1, 0, 0],
       [0, 1, 0, 0]])

In [229]:
surface_pipeline.fit_transform(dataset).shape

(27148, 4)

In [230]:
drawSize_pipeline = Pipeline([
        ("select_cat", DataFrameSelector(["draw_size"])),
        ("cat_encoder", CustomLabelBinarizer(index_draw_size)),
    ])

drawSize_pipeline.fit_transform(dataset)

array([[0, 0, 0, ..., 1, 0, 0],
       [0, 0, 0, ..., 1, 0, 0],
       [0, 0, 0, ..., 1, 0, 0],
       ...,
       [0, 0, 0, ..., 1, 0, 0],
       [1, 0, 0, ..., 0, 0, 0],
       [1, 0, 0, ..., 0, 0, 0]])

In [231]:
drawSize_pipeline.fit_transform(dataset).shape

(27148, 9)

In [232]:
levelTour_pipeline = Pipeline([
        ("select_cat", DataFrameSelector(["level_tour"])),
        ("cat_encoder", CustomLabelBinarizer(index_level_tour)),
    ])

levelTour_pipeline.fit_transform(dataset)

array([[0, 1, 0, 0],
       [1, 0, 0, 0],
       [1, 0, 0, 0],
       ...,
       [1, 0, 0, 0],
       [1, 0, 0, 0],
       [1, 0, 0, 0]])

In [233]:
levelTour_pipeline.fit_transform(dataset).shape

(27148, 4)

In [234]:
from sklearn.preprocessing import Imputer

weather_pipeline = Pipeline([
        ("select_cat", DataFrameSelector(["temp_weather", "press_weather", "humid_weather"])),
        ('imputer', Imputer(strategy="mean")),
    ])

weather_pipeline.fit_transform(dataset)

array([[ 61.  ,  27.52,  55.  ],
       [ 65.  ,  29.49,  80.  ],
       [ 68.  ,  29.72,  81.  ],
       ...,
       [ 63.  ,  30.13,  88.  ],
       [ 60.  ,  29.64,  91.  ],
       [ 45.  ,  27.82, 100.  ]])

In [235]:
weather_pipeline.fit_transform(dataset).shape

(27148, 3)

In [236]:
from sklearn.preprocessing import Imputer

year_pipeline = Pipeline([
        ("select_cat", DataFrameSelector(["year_atp"])),
        ('imputer', Imputer(strategy="most_frequent")),
    ])

year_pipeline.fit_transform(dataset)

array([[2016.],
       [2016.],
       [2016.],
       ...,
       [2016.],
       [2016.],
       [2016.]])

In [237]:

year_pipeline.fit_transform(dataset).shape

(27148, 1)

In [238]:
class CustomLabelBinarizer(BaseEstimator, TransformerMixin):
    def __init__(self, sparse_output=False):
        self.sparse_output = sparse_output
    def fit(self, X, y=None):
        return self
    def transform(self, X, y=None):
        enc = LabelBinarizer(sparse_output=self.sparse_output)
        return enc.fit_transform(X)

In [239]:
door_pipeline = Pipeline([
        ("select_cat", DataFrameSelector(["door"])),
        ("cat_encoder", CustomLabelBinarizer()),
    ])

door_pipeline.fit_transform(dataset)

array([[1],
       [1],
       [1],
       ...,
       [1],
       [1],
       [1]])

In [240]:
door_pipeline.fit_transform(dataset).shape

(27148, 1)

In [241]:
class fillna(BaseEstimator, TransformerMixin):
    def __init__(self, val):
        self.val = val
        
    def fit(self, X, y=None):
        return self
    def transform(self, X, y=None):        
        return X.fillna(self.val)

In [242]:
uncertainty_pipeline = Pipeline([
        ("select_cat", DataFrameSelector(["uncertainty_1year", "uncertainty_20years"])),
        ("cat_encoder", fillna(10)),
    ])

uncertainty_pipeline.fit_transform(dataset).shape

(27148, 2)

In [243]:
count_pipeline = Pipeline([
        ("select_cat", DataFrameSelector(["count_match_1year", "count_match_20years"])),
        ("cat_encoder", fillna(0)),
    ])

count_pipeline.fit_transform(dataset).shape

(27148, 2)

In [244]:
from sklearn.pipeline import FeatureUnion
preprocess_pipeline = FeatureUnion(transformer_list=[
        ("stats_pipeline", stats_pipeline),
        ("round_pipeline", round_pipeline),
        ("surface_pipeline", surface_pipeline),
        ("drawSize_pipeline", drawSize_pipeline),
        ("levelTour_pipeline", levelTour_pipeline),
        ("weather_pipeline", levelTour_pipeline),
        ("year_pipeline", levelTour_pipeline),
        ("door_pipeline", levelTour_pipeline),
        ("uncertainty_pipeline", levelTour_pipeline),
        ("count_pipeline", count_pipeline),
    ])

In [245]:
X_train = preprocess_pipeline.fit_transform(dataset)

In [246]:
X_train.shape

(27148, 75)

In [247]:
pd.DataFrame(X_train).head()

,0,1,2,3,4,5,6,7,8,9,...,65,66,67,68,69,70,71,72,73,74
0,22.680874,-1.353279,-0.859836,8.912022,-0.228962,4.176776,-0.974317,0.684973,-6.111202,-2.769672,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,110.0,243.0
1,-6.668889,-1.328148,0.091852,-2.805926,-0.319630,-1.348519,-1.214815,-1.078889,-6.271481,-1.893704,...,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,71.0,130.0
2,15.666667,1.666667,2.666667,-0.000000,4.333333,0.333333,14.666667,4.666667,33.000000,6.333333,...,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,3.0,7.0
3,-17.928571,-5.785714,-0.428571,3.142857,-8.142857,7.500000,-4.071429,-2.071429,13.285714,2.428571,...,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,10.0,200.0
4,12.351282,-5.203846,-0.489744,7.125321,-1.542949,6.682372,8.243269,-0.016987,16.787179,2.906731,...,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,75.0,148.0

In [248]:
pd.DataFrame(X_train).isnull().any().value_counts()

False    75
dtype: int64

In [249]:
y_train = dataset["result"]
y_train.shape

(27148,)

#### predset preprocess

In [250]:
testset = test_set.copy()

In [251]:
X_test = preprocess_pipeline.fit_transform(testset)
y_test = testset["result"]

### KNN

In [252]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn.model_selection import GridSearchCV

param_grid = [{'weights': ["uniform", "distance"], 'n_neighbors': [3, 4, 5]}]

knn_clf = KNeighborsClassifier()
grid_search = GridSearchCV(knn_clf, param_grid, cv=5, verbose=3, n_jobs=-1)
grid_search.fit(X_train, y_train)

Fitting 5 folds for each of 6 candidates, totalling 30 fits
[CV] n_neighbors=3, weights=uniform ..................................
[CV] n_neighbors=3, weights=uniform ..................................
[CV] n_neighbors=3, weights=uniform ..................................
[CV] n_neighbors=3, weights=uniform ..................................
[CV]  n_neighbors=3, weights=uniform, score=0.6572112727942531, total=   2.1s
[CV] n_neighbors=3, weights=uniform ..................................
[CV]  n_neighbors=3, weights=uniform, score=0.6500920810313076, total=   2.1s
[CV] n_neighbors=3, weights=distance .................................
[CV]  n_neighbors=3, weights=uniform, score=0.6497237569060773, total=   2.1s
[CV] n_neighbors=3, weights=distance .................................
[CV]  n_neighbors=3, weights=uniform, score=0.6469613259668509, total=   2.2s
[CV] n_neighbors=3, weights=distance .................................
[CV]  n_neighbors=3, weights=distance, score=0.6546961325966851, total=   2.0s
[CV] n_neighbors=3, weights=distance .................................
[CV]  n_neighbors=3, weights=distance, score=0.6580110497237569, total=   2.0s
[CV] n_neighbors=3, weights=distance .................................
[CV]  n_neighbors=3, weights=distance, score=0.6554327808471455, total=   2.2s
[CV] n_neighbors=4, weights=uniform ..................................
[CV]  n_neighbors=3, weights=uniform, score=0.6432123779701603, total=   2.1s
[CV] n_neighbors=4, weights=uniform ..................................
[CV]  n_neighbors=3, weights=distance, score=0.6651317001289372, total=   2.2s
[CV] n_neighbors=4, weights=uniform ..................................
[CV]  n_neighbors=3, weights=distance, score=0.6492908454595689, total=   2.1s
[CV] n_neighbors=4, weights=uniform ..................................
[CV]  n_neighbors=4, weights=uniform, score=0.6405156537753223, total=   2.0s
[CV] n_neighbors=4, weights=uniform ..................................
[CV]  n_neighbors=4, weights=uniform, score=0.6388581952117863, total=   2.3s
[CV] n_neighbors=4, weights=distance .................................
[CV]  n_neighbors=4, weights=uniform, score=0.6408839779005525, total=   2.5s
[CV] n_neighbors=4, weights=distance .................................
[CV]  n_neighbors=4, weights=uniform, score=0.6430281819856327, total=   2.4s
[CV] n_neighbors=4, weights=distance .................................
[CV]  n_neighbors=4, weights=uniform, score=0.6454227297844907, total=   2.4s
[CV] n_neighbors=4, weights=distance .................................
[CV]  n_neighbors=4, weights=distance, score=0.660036832412523, total=   2.3s
[CV] n_neighbors=4, weights=distance .................................
[CV]  n_neighbors=4, weights=distance, score=0.658195211786372, total=   2.3s
[CV] n_neighbors=5, weights=uniform ..................................
[CV]  n_neighbors=4, weights=distance, score=0.6604051565377532, total=   2.4s
[CV] n_neighbors=5, weights=uniform ..................................
[CV]  n_neighbors=4, weights=distance, score=0.6607109965002763, total=   2.3s
[CV] n_neighbors=5, weights=uniform ..................................
[CV]  n_neighbors=4, weights=distance, score=0.6503960213667342, total=   2.3s
[CV] n_neighbors=5, weights=uniform ..................................
[CV]  n_neighbors=5, weights=uniform, score=0.6524861878453039, total=   2.3s
[CV] n_neighbors=5, weights=uniform ..................................
[CV]  n_neighbors=5, weights=uniform, score=0.6583793738489871, total=   2.5s
[CV] n_neighbors=5, weights=distance .................................
[CV]  n_neighbors=5, weights=uniform, score=0.6511970534069982, total=   2.4s
[CV] n_neighbors=5, weights=distance .................................
[CV]  n_neighbors=5, weights=uniform, score=0.6662368760361024, total=   2.4s
[CV] n_neighbors=5, weights=distance .................................
[CV]  n_neighbors=5, weights=distance, score=0.6681399631675875, total=   2.4s
[CV] n_neighbors=5, weights=distance .................................
[CV]  n_neighbors=5, weights=uniform, score=0.6527905691655922, total=   2.6s
[CV] n_neighbors=5, weights=distance .................................
[CV]  n_neighbors=5, weights=distance, score=0.6596685082872928, total=   2.4s
[CV]  n_neighbors=5, weights=distance, score=0.6596685082872928, total=   2.3s
[CV]  n_neighbors=5, weights=distance, score=0.6754466752624793, total=   2.1s
[CV]  n_neighbors=5, weights=distance, score=0.6605268005157487, total=   2.2s

[Parallel(n_jobs=-1)]: Done  30 out of  30 | elapsed:  1.3min finished

GridSearchCV(cv=5, error_score='raise',
       estimator=KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
           metric_params=None, n_jobs=1, n_neighbors=5, p=2,
           weights='uniform'),
       fit_params=None, iid=True, n_jobs=-1,
       param_grid=[{'weights': ['uniform', 'distance'], 'n_neighbors': [3, 4, 5]}],
       pre_dispatch='2*n_jobs', refit=True, return_train_score='warn',
       scoring=None, verbose=3)

In [253]:
grid_search.best_params_

{'n_neighbors': 5, 'weights': 'distance'}

In [254]:
grid_search.best_score_

0.664689848239281

In [255]:
from sklearn.neighbors import KNeighborsClassifier
knn_clf = KNeighborsClassifier(n_jobs=-1, weights='uniform', n_neighbors=3)
knn_clf.fit(X_train, y_train)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
           metric_params=None, n_jobs=-1, n_neighbors=3, p=2,
           weights='uniform')

In [256]:
y_knn_pred = knn_clf.predict(X_train)

from sklearn.metrics import accuracy_score
accuracy_score(y_train, y_knn_pred)

0.8195078827169588

### RF

In [257]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import cross_val_score

forest_clf = RandomForestClassifier(random_state=42)
forest_clf.fit(X_train, y_train)
forest_scores = cross_val_score(forest_clf, X_train, y_train, cv=10, n_jobs=-1)
forest_scores.mean()

0.8375564129443569

In [258]:
forest_clf_pred = forest_clf.predict(X_test)

from sklearn.metrics import accuracy_score
accuracy_score(y_test, forest_clf_pred)

0.836

### saved the model on the disk

In [259]:
import pickle

PATH = 'models/'

def save_model(obj, name, path=PATH):
    file = open(path + name, 'wb')
    pickle.dump(obj, file)
    file.close()

save_model(forest_clf, "forest_clf")

### GridSearch

In [260]:
from sklearn.model_selection import RandomizedSearchCV
from scipy.stats import randint

param_distribs = {
        'n_estimators': randint(low=100, high=500),
        'max_features': randint(low=5, high=15),
    }

forest_reg = RandomForestClassifier(random_state=42)
rnd_search = RandomizedSearchCV(forest_reg, param_distributions=param_distribs,
                                n_iter=10, cv=5, scoring='neg_mean_squared_error', random_state=42, n_jobs=-1)
rnd_search.fit(X_train, y_train)

RandomizedSearchCV(cv=5, error_score='raise',
          estimator=RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=10, n_jobs=1,
            oob_score=False, random_state=42, verbose=0, warm_start=False),
          fit_params=None, iid=True, n_iter=10, n_jobs=-1,
          param_distributions={'n_estimators': <scipy.stats._distn_infrastructure.rv_frozen object at 0x7fe901579710>, 'max_features': <scipy.stats._distn_infrastructure.rv_frozen object at 0x7fe8dee27710>},
          pre_dispatch='2*n_jobs', random_state=42, refit=True,
          return_train_score='warn', scoring='neg_mean_squared_error',
          verbose=0)

In [261]:
rnd_search.best_params_

{'max_features': 14, 'n_estimators': 314}

In [262]:
feature_importances = rnd_search.best_estimator_.feature_importances_
#sorted(zip(feature_importan)ces, list(dataset.columns.values)), reverse=True))
feature_importances[32:] ## useless

array([1.74523258e-03, 1.59797413e-03, 1.28461142e-03, 8.79527716e-04,
       1.29364500e-03, 1.16683467e-03, 9.87311221e-04, 7.13805457e-05,
       1.66380151e-03, 1.74338495e-03, 1.27144517e-03, 5.40166838e-04,
       1.48346600e-03, 7.26739057e-04, 1.21437177e-03, 1.34053176e-03,
       1.27236443e-03, 9.35057097e-04, 1.05660824e-03, 5.63673761e-05,
       4.86983061e-05, 8.37696766e-04, 8.02484718e-04, 6.47551913e-04,
       7.43099759e-05, 8.43781548e-04, 8.31686466e-04, 6.68131734e-04,
       7.64290157e-05, 8.62079098e-04, 8.06828381e-04, 6.53943354e-04,
       6.78264716e-05, 8.62368260e-04, 7.52145664e-04, 6.47294889e-04,
       5.51692092e-05, 8.54230546e-04, 7.88949216e-04, 6.95053883e-04,
       6.44439995e-05, 3.13948044e-02, 3.76958812e-02])

In [263]:
from sklearn.metrics import accuracy_score

rnd_pred = rnd_search.predict(X_train)

accuracy_score(y_train, rnd_pred)

1.0

In [264]:
save_model(rnd_search, "rnd_search")

### predset

match beetween years 2017 and 2018

In [265]:
valset = predset.copy()

valset.insert(valset.shape[1], "result", np.random.randint(2, size=valset.shape[0]))
valset["result"].value_counts()

X_val = preprocess_pipeline.fit_transform(valset)
y_val = valset["result"]

In [266]:
forest_clf_pred = forest_clf.predict(X_val)

from sklearn.metrics import accuracy_score
accuracy_score(y_val, forest_clf_pred)

0.8548258441903749

 - 85% of prediction accuracy , the almosts bookmakers are about 60% with odds modulation

In [267]:
from sklearn.metrics import accuracy_score

rnd_pred = rnd_search.predict(X_val)

accuracy_score(y_val, rnd_pred)

0.86838606753523

### Test with only Common Opponent

In [268]:
X_train = stats_pipeline.fit_transform(dataset)
y_train = dataset["result"]

In [269]:
X_test = stats_pipeline.fit_transform(test_set)
y_test = test_set["result"]

In [270]:
X_val = stats_pipeline.fit_transform(valset)
y_val = valset["result"]

In [271]:
from sklearn.model_selection import RandomizedSearchCV
from scipy.stats import randint

param_distribs = {
        'n_estimators': randint(low=100, high=500),
        'max_features': randint(low=5, high=15),
    }

forest_reg = RandomForestClassifier(random_state=42)
rnd_search_co = RandomizedSearchCV(forest_reg, param_distributions=param_distribs,
                                n_iter=10, cv=5, scoring='neg_mean_squared_error', random_state=42, n_jobs=-1)
rnd_search_co.fit(X_train, y_train)

RandomizedSearchCV(cv=5, error_score='raise',
          estimator=RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=10, n_jobs=1,
            oob_score=False, random_state=42, verbose=0, warm_start=False),
          fit_params=None, iid=True, n_iter=10, n_jobs=-1,
          param_distributions={'n_estimators': <scipy.stats._distn_infrastructure.rv_frozen object at 0x7fe8da26f2b0>, 'max_features': <scipy.stats._distn_infrastructure.rv_frozen object at 0x7fe8da26f438>},
          pre_dispatch='2*n_jobs', random_state=42, refit=True,
          return_train_score='warn', scoring='neg_mean_squared_error',
          verbose=0)

In [272]:
rnd_search_co.best_params_

{'max_features': 6, 'n_estimators': 443}

In [273]:
feature_importances = rnd_search_co.best_estimator_.feature_importances_
#sorted(zip(feature_importan)ces, list(dataset.columns.values)), reverse=True))
feature_importances[32:] ## useless

array([], dtype=float64)

In [274]:
from sklearn.metrics import accuracy_score

rnd_pred_co = rnd_search_co.predict(X_test)
accuracy_score(y_test, rnd_pred_co)

0.8045714285714286

In [275]:
rnd_pred_co = rnd_search_co.predict(X_val)
accuracy_score(y_val, rnd_pred_co)

0.8516352034033502

In [276]:
save_model(rnd_search_co, "rnd_search_co")

## Prediction pre-match 11/10/18

In [277]:
import pickle

PATH = 'models/'

def load_model(name, path=PATH):
    file = open(path + name, 'rb')
    obj = pickle.load(file)
    file.close()
    return obj

model = load_model("rnd_search_co")

In [278]:
from sqlalchemy import create_engine
import psycopg2 as pg
import requests as req

URL = 'postgresql://dataset:dataset1747@35.204.62.91:5432/dataset-dump1'
engine = create_engine(URL)

def get_data_prediction(date, winner, looser):
    URL = "https://raw.githubusercontent.com/panaC/tennis-dataset/master/app/dataset/prediction.sql"
    with engine.connect() as conn, conn.begin():
        return pd.read_sql(req.get(URL).text.format(date=date, winner=winner, looser=looser), conn)

In [ ]:
prediction_data = get_data_prediction('11/10/2018', 'Stefanos Tsitsipas', 'Alex de Minaur')
prediction_data

In [279]:
prediction_data.insert(prediction_data.shape[1], "result", np.random.randint(2, size=prediction_data.shape[0]))

X_pred = stats_pipeline.fit_transform(prediction_data)
pred = model.predict(X_pred)

In [280]:
model.predict_proba(X_pred)

array([[0.06320542, 0.93679458]])

In [281]:
prediction_data["result"][0]

1

In [282]:
pred[0]

1

There is 97% of probability that Tsitsipas win because the result is 1 and 1 = first player in fct

In [283]:
prediction_data = get_data_prediction('11/10/2018', 'Kevin Anderson', 'Dominic Thiem')
prediction_data

,uncertainty_1year,count_match_1year,serve_rating_1year,aces_1year,double_faults_1year,first_serve_1year,first_serve_point_won_1year,second_serve_point_won_1year,bp_saved_1year,service_game_played_1year,...,return_rating_20years,first_serve_return_point_won_20years,bp_converted_20years,return_games_played_20years,service_point_won_20years,return_point_won_20years,total_point_won_20years,winner_loser_match_win,h2h,minutes_loser_winner
0,0.067935,13,-15.825,-5.65,1.6,-6.716667,2.075,0.516667,5.975,-0.333333,...,9.790835,3.092286,0.669302,-0.72378,-2.896813,2.132079,-0.335131,0.0,1.0,None

In [284]:
prediction_data.insert(prediction_data.shape[1], "result", np.random.randint(2, size=prediction_data.shape[0]))

X_pred = stats_pipeline.fit_transform(prediction_data)
pred = model.predict(X_pred)

In [285]:
model.predict_proba(X_pred)

array([[0.07900677, 0.92099323]])

In [286]:
prediction_data["result"][0]

1

In [287]:
pred[0]

1

- warning combine option. I think that 1 year is too short for head2head , add 3 new colonne with may be 10 years combine

In [288]:
prediction_data = get_data_prediction('11/10/2018', 'Alexander Zverev', 'Marin Cilic')
prediction_data

,uncertainty_1year,count_match_1year,serve_rating_1year,aces_1year,double_faults_1year,first_serve_1year,first_serve_point_won_1year,second_serve_point_won_1year,bp_saved_1year,service_game_played_1year,...,return_rating_20years,first_serve_return_point_won_20years,bp_converted_20years,return_games_played_20years,service_point_won_20years,return_point_won_20years,total_point_won_20years,winner_loser_match_win,h2h,minutes_loser_winner
0,0.091912,15,14.346154,4.230769,-1.076923,-2.961538,3.153846,1.115385,3.538462,1.538462,...,3.321875,0.985911,-0.114494,0.206544,3.67691,0.968995,2.11016,1.0,0.666667,None

In [289]:
prediction_data.insert(prediction_data.shape[1], "result", np.random.randint(2, size=prediction_data.shape[0]))

X_pred = stats_pipeline.fit_transform(prediction_data)
pred = model.predict(X_pred)

In [290]:
model.predict_proba(X_pred)

array([[0.78329571, 0.21670429]])

In [291]:
prediction_data["result"][0]

0

In [292]:
pred[0]

0

In [293]:
prediction_data = get_data_prediction('11/10/2018', 'Novak Djokovic', 'John Isner')
prediction_data

,uncertainty_1year,count_match_1year,serve_rating_1year,aces_1year,double_faults_1year,first_serve_1year,first_serve_point_won_1year,second_serve_point_won_1year,bp_saved_1year,service_game_played_1year,...,return_rating_20years,first_serve_return_point_won_20years,bp_converted_20years,return_games_played_20years,service_point_won_20years,return_point_won_20years,total_point_won_20years,winner_loser_match_win,h2h,minutes_loser_winner
0,0.15625,8,39.625,20.625,1.0,3.125,9.375,-11.6875,21.5625,7.5625,...,-68.709553,-13.003473,-14.844916,2.604565,3.238263,-14.168259,-5.131055,2.0,0.333333,None

In [294]:
prediction_data.insert(prediction_data.shape[1], "result", np.random.randint(2, size=prediction_data.shape[0]))

X_pred = stats_pipeline.fit_transform(prediction_data)
pred = model.predict(X_pred)

In [295]:
model.predict_proba(X_pred)

array([[0.66817156, 0.33182844]])

In [296]:
prediction_data["result"][0]

0

In [297]:
pred[0]

0

if prediction_data["result"][0] == 0 then 
    
    pred = 1 = los or pred = 0 = winner 

else

    pred = 1 = win or pred = 0 = los